<%= error_messages_for :user %>

<!-- start content -->
<div id="fullcontentcenter">

<div style="clear: both;">&nbsp;</div>
	
	<fieldset class="colored"><legend class="colored bigtext">Login</legend>

	<ul><%=render :partial=>'shared/login_form'%>	
	    <li><label>&nbsp;</label><%=link_to('Register', new_user_url)%></li>
	</ul>
	
	</fieldset>

</div>