

<table width="100%" CELLSPACING=5>
  <tr>
  <td width="175" bgcolor="#6699CC" valign="top">
  <%= render :partial=>'search_form'%>
  </td>
  <td valign="top">
  <%=render :partial=>'/shared/listing_list'%>
  </td>
  </tr>
</table>
