<!-- start leftbar render :partial=>'search_form' -->
	<div id="leftbar">
		<%=render :partial=>'/shared/leftbar_search'%>
	</div>
<!-- end leftbar -->

<!-- start content -->
	<div id="content">
		<%=render :partial=>'/shared/listing_list'%>
	</div>

<!-- end content -->

<!-- start rightbar -->
	<div id="rightbar">
		<ul>
		  <li id="search">
		    <h2><b>Map</b></h2>
		    <div id="map" style="position:absolute;"><img class="bordered_img" style="width: 300px; height: 300px;" alt="" src="/images/map.gif" /> </li></ul></div>
		    <script type="text/javascript">

    	var slideEffect = new Fx.Style('map', 'margin-top', {wait:false, duration:800, transition:Fx.Transitions.circOut});
		window.addEvent('load', function() {
		var top = $('map').getPosition().y - 10;
		window.addEvent('scroll', function(){
      		slideEffect.start.delay(600, slideEffect, Math.max(0, document.documentElement.scrollTop - top));
   		 });
		new SmoothScroll({duration:700, transition:Fx.Transitions.circOut});
  		});

    </script>
	</div>
<!-- end rightbar -->