<% for column in Listing.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @listing.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @listing %> |
<%= link_to 'Back', :action => 'list' %>
