<span id="search"><h2><b>Favorites</b></h2></span>
<br/>
<div id="leftfavorites"><ul>
	<li >Upper East Side | $650<br>Jr. 1 Bedroom3</li>
	<li class="line favselected">Upper East Side | $650<br>Jr. 1 Bedroom</li>
	<li class="line">Upper East Side | $650<br>Jr. 1 Bedroom</li>
</ul>
</div>