<ul>
   <li id="search">
		<h2><b>Search</b></h2>
		<ul>
			<li>Keywords<input type="text" class="text" style="width:120px">
			</li>
			<li>Neighborhood<select style="width:120px"><option>drop</option></select>
			</li>
			<li>Apartment Types<select style="width:120px"><option>drop</option></select>
			</li>
			<li>Available Date [any] to [any]
			</li>
			<li>Rent - [any] to [any]
			</li>
			<li>Sq Footage - [any] to [any]
			</li>
			<li>Ceiling Height - [any] to [any]
			</li>
			<li># Bathrooms - <select style="width:50px"><option>drop</option></select>
			</li>
			<li><b>Must Haves:</b><br/>Well Maintained, Nice Bathrooms, Nice Appliances, Well-heated, Elevator, Laundry, Gym, Doorman, Multi-level, Penthouse, Balcony, Backyard, Roach-free, Rodent-free, Broadband, Low Street Noise, Low Neighbor Noise, Good Cellphone Coverage, Pets OK, Convertible, Separate Kitchen, Rent Controlled, Rent Stabilized
			</li>
			<li>Floor Type<select style="width:120px"><option>drop</option></select>
			</li>
			<li>Heat Type<select style="width:120px"><option>drop</option></select>
			</li>
			<li>A/C Type<select style="width:120px"><option>drop</option></select>
			</li>
			<li>[Walking distance] to [subway stop/address] [to come]
			</li>
		</ul>
	</li>
</ul>