<div class="post">
	<span style="float:left;">Search
	results for "[searchterm]"</span>
	<span style="float:right;">
		<select>
			<option>Sort...</option>
			<option value="rent">Rent</option>
			<option value="popularity">Popularity</option>
			<option value="rating">Rating</option>
		</select>
	</span>
	<div class="line"></div>
</div>

<%= render(:partial => '/shared/listing' ,
      	   :collection => @listings )
%>
