<div class="post">
	<span style="float:right;">
		<select>
			<option>Sort...</option>
			<option value="rent">Rent</option>
			<option value="popularity">Popularity</option>
			<!--<option value="rating">Rating</option>  I doubt users will review/rate appartments. Also creates spamming target. We can add that if we see that users are publishing reviews-->
		</select>
	</span>
	<div style="clear:both"></div>
</div>

<!-- [EP] I think we're going back and forth here.  I have the latest version of the listing in shared/_listing.html.erb and have pointed this there for now.  If we're going to go with inline views, I think this is all we need right?  Right now we also have stuff in  _show_listing.  I copy pasted the Flag As... stuff.  Not sure what else we want to grab. -->
<%= render :partial => '/shared/listing', :collection => @listings %>
