        <li>Info below is locked. <a href="#" title=" Lots more info is available. All you need is provide detailed info in your listing and you're all set. It only takes a few minutes."> Unlock</a></li>
       
        <li class="crossed_out"><b>Basics:</b> Sq footage, ceiling_height, convertable, no of bathrooms, separate kitchen, floor_type, pets allowed
          <li class="crossed_out"><b>Rooms:</b>  length x width, light, view for each room</li>
          <li class="crossed_out"><b>Building info:</b> If elevator, doorman, laundromat, gym</li>
          <li class="crossed_out"><b>Other info:</b> rent stabilization/rent controll, heat, noise, maintainance, pests, appliances, fixtures condition, multi-level, penthouse, private entrance, roof access, balcony, patio or broadband. Also cell phone signal quality, pest issues</li>
        </li>
          