        <div style="position:relative;">
        <div style="position:absolute;opacity: 0.30;"><%=link_to_function image_tag('detail_locked.gif'), page.show("details_locked_popup_#{listing.id}")%></div>
        
        <li><b>Basics:</b> Sq footage, ceiling height, convertable, no of bathrooms, separate kitchen, floor type, pets allowed
          <li><b>Rooms:</b>  length x width, light, view for each room</li>
          <li><b>Building info:</b> elevator, doorman, laundromat, gym</li>
          <li><b>Other info:</b> rent stabilization/rent controll, heat, noise, maintainance, pests, appliances, fixtures condition, loft, multi-level, penthouse, private entrance, roof access, balcony, patio, broadband, cell phone signal quality, pest issues</li>
        </li>
        </div>
          