<div id="comment_popup_<%= listing.id %>" class="leftsearch_box" style="display:none;position:absolute;width:180px;height:180px;top:-30px;left:360px;z-index:1500;opacity:0.9;">
<%=image_tag 'cross.png', :style=>"float:right;cursor:pointer;", :onclick=>page.hide("comment_popup_#{listing.id}")%><br/>
<%remote_form_for [listing, comment], :update=>"comments_block_#{listing.id}" do |f|%>
    <%=f.text_area  :content, :cols => 18, :rows => 5%><br/>
    <%=f.submit "Add Comment", :onclick=>page.hide("comment_popup_#{listing.id}"), :duration => 0.5 )-%>
<%end%>
</div>
