<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Listings: <%= controller.action_name %></title>
  <%= javascript_include_tag :defaults %>
  <%= stylesheet_link_tag 'typo' %>
  <!--<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAaoo2yAo-3IJSl1N4bEy_cRRgJ9jcPnroD57EYtHWf5RqrWVYlxTrNM5JZ3V6jhVcahzBBNi8eK-KzQ"
      type="text/javascript"></script>-->
   <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAaoo2yAo-3IJSl1N4bEy_cRTJQa0g3IQ9GZqIMmInSLzwtGDKaBTGhji2N3ql-Cmcy1oo9tiQn5e5hw"
      type="text/javascript"></script>
   <script type="text/javascript">
  //<![CDATA[
  function load() {
    if (GBrowserIsCompatible()) {
      var map = new GMap2(document.getElementById("map"));
      map.setCenter(new GLatLng(37.4419, -122.1419), 13);
    }
  }
  //]]>
  </script>
  
</head>
<body onload="load()" onunload="GUnload()">

	  <div id="header" style="padding:10px">

		  <div id="info" style="float:right">
      Hello <%=session[:user].name%>&nbsp;|&nbsp;<%= link_to "log out", :controller=>:admin, :action => :logout %>
		  </div> 
	  <h1>d.b.a.</h1>  
	  </div>
<!-- /HEADER -->

		<div style="color: green"><%= flash[:notice] %></div>
		<div id="search_form_pane" style="width:230px; float:left">
    <%= render :partial => "search_form" %>
    </div>
    <div id="submission_form_pane" style="display:none; position:absolute; left:235px; width:230px; float:left; z-index:50" >
    <%= render :partial => "submission_form" %>
    </div>
    <!--<div id="search_results_pane" style="postion:absolute; width:600px; top:50px; left:260px">-->
		
    <div id="results_pane" style="width:60%; position:absolute; left:235px;">
      <div id="search_results_pane">
        <%= render :partial => "search_results_pane", :object => @listings %>
      </div>
      <div id="favorites_pane" style="display:none">
        <%= render :partial => "favorites_pane" %>
      </div>
    </div>
    
      <div id="right_pane" style="width:230px; float:right">
      <%= render :partial => "location_info" %>
      </div>
    
		


</body>
</html>
