<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>freshpaint</title>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <link href="/stylesheets/default.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="/javascripts/mootools.js"></script>
 
</head>

<body>

<!-- start header -->
<div id="header">
	<div id="logo">
		<h1><a href="#"><span style="font-weight: bold;">fresh</span>paint<sup>alpha</sup></a></h1>
		<h2>&nbsp; &nbsp; &nbsp;empowering renters since 2008.</h2>
	</div>
	<div id="menu">
		<ul id="menuul">
		  <li class="active">home</li>
		  <li>someotherlink</li>
		</ul>
	</div>
	<script type="text/javascript">
	var list = $$('#menuul li');
	list.each(function(element) {

		var fx = new Fx.Styles(element, {duration:200, wait:false});

		element.addEvent('mouseenter', function(){
			fx.start({
				'padding-top': 30,
				'background-color': '#666',
				color: '#FFFFFF'
			});
		});

		element.addEvent('mouseleave', function(){
			fx.start({
				'padding-top': 7,
				'background-color': '#b31b1b',
				'color': '#FFF'
			});
		});

		});
		</script>
</div>

<!-- end header -->
<!-- start page -->
<div id="page">





	
	<%= yield  %>







	<div style="clear: both;">&nbsp;</div>
</div>
<!-- end page -->

<!-- start footer -->
<div id="footer">
	<div class="wrap">
		<div id="fbox1" class="box2"></div>
		<div id="fbox2" class="box2"></div>
		<div id="fbox3" class="box2"></div>
	</div>
	<p id="legal">(c) 2008. Design by <a href="http://www.nodethirtythree.com/">NodeThirtyThree</a> & ep.</p>
</div>
<!-- end footer -->

</body>
</html>
